[Unit]
Description=ChatMimic Connect Server
After=network.target

[Service]
Type=simple
User=denoteai-api-chat
WorkingDirectory=/home/denoteai-api-chat/htdocs/api.chat.denoteai.tech
Environment=NODE_ENV=production
Environment=GOOGLE_APPLICATION_CREDENTIALS=/home/denoteai-api-chat/credentials/denoteai-firebase-adminsdk-fbsvc-f91a6418cd.json
EnvironmentFile=/home/denoteai-api-chat/credentials/.env
ExecStart=/usr/bin/node /home/denoteai-api-chat/htdocs/api.chat.denoteai.tech/index.js
StandardOutput=journal
StandardError=journal
SyslogIdentifier=chatmimic-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target 